{% extends "blog/base.html" %}
{% load i18n %}

{% block title %}{% trans "Change your password" %}{% endblock %}
{% block content %}
  <h1>{% trans "Change your password" %}</h1>
  <p>{% trans "Use the form below to change your password." %}</p>
  <form method="post" class="center-form">
    <div class="vertical-align-left">
      {% if form.old_password.errors %}
        <div class="error">{{ form.old_password.errors }}</div>
      {% endif %}
      <label for="{{ form.old_password.id_for_label }}">{% trans "Old Password:" %}</label>
      <input type="password" id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.html_name }}" style="width: 300px; height: 30px;">
    </div>
    <div class="vertical-align-left">
      {% if form.new_password1.errors %}
        <div class="error">{{ form.new_password1.errors }}</div>
      {% endif %}
      <label for="{{ form.new_password1.id_for_label }}">{% trans "New Password:" %}</label>
      <input type="password" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" style="width: 300px; height: 30px;">
    </div>
    <div class="vertical-align-left">
      {% if form.new_password2.errors %}
        <div class="error">{{ form.new_password2.errors }}</div>
      {% endif %}
      <label for="{{ form.new_password2.id_for_label }}">{% trans "New Password Confirmation:" %}</label>
      <input type="password" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" style="width: 300px; height: 30px;">
    </div>
    <p><input type="submit" value="{% trans "Change" %}"></p>
    {% csrf_token %}
  </form>
{% endblock %}
