{% extends "blog/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password Confirmation" %}{% endblock %}

{% block content %}
  <div class="password-confirmation">
    <h1>{% trans "Password Confirmation" %}</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group">
        <label for="id_password">{% trans "Password" %}</label>
        {{ form.password }}
      </div>
      <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </form>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const closeButtons = document.querySelectorAll('ul.messages li a.close');

        closeButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const message = this.parentElement;
                message.style.opacity = '0';
                message.style.maxHeight = '0';
                setTimeout(() => message.remove(), 300); // Время должно совпадать с transition в CSS
            });
        });
    });
  </script>
{% endblock %}

